.abstractavailable {
    background:none;
    border:none;
    color:#5169B1;
    margin:0;
    padding:0;
    cursor: pointer;
    text-align:left;
}

.page-header {
    background-color:#D4D8E4;
    padding:20px;
}

.card {
    margin-bottom:20px;
}

.big {
    font-size: 14pt;
}
